body {
      position: relative;
  }

#navBar{
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}


  #aboutMe {padding-top:50px;height:460px;color: black; background-color: white;}
  #projects {padding-top:50px;color: black; background-color: white;}
  #resume {padding-top:50px;height:700px;color: black; background-color: white;}
  #contact {padding-top:50px;height:250px;color: black; background-color: white;}

.footer{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #222222;
}

.whiteFont{
  color: white !important;
}
.fa{
  margin: 5px 15px 0px 15px;
  padding: 6px 10px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888
}

.footer{height:70px; color:#d3d3d3;}
