body {
      position: relative;
  }

#navBar{
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}


  #aboutMe {padding-top:50px;height:500px;color: black; background-color: white;}
  #projects {padding-top:50px;height:500px;color: black; background-color: white;}
  #resume {padding-top:50px;height:500px;color: black; background-color: white;}
  #contact {padding-top:50px;height:500px;color: black; background-color: white;}

.footer{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #222222;
}

.whiteFont{
  color: white !important;
}
